[submodule "Bokudos-front"]
	path = Bokudos-front
	url = https://github.com/BadassBison/Bokudos-front
	branch = .
[submodule "Bokudos-server"]
	path = Bokudos-server
	url = https://github.com/codymaki/Bokudos-server
	branch = .
[submodule "Bokudos-stagebuilder"]
	path = Bokudos-stagebuilder
	url = https://github.com/BadassBison/Bokudos-stagebuilder
	branch = .
